.header {
	padding: 2rem 4rem;

	& > .header-nav {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 6rem;
	}
}

.bio-name,
.bio-description {
	color: var(--clr-text-200);
}

.bio-heading,
.bio-subheading {
	color: var(--clr-blue-700);
}
